body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 5rem;
}

a {
  color: #00B7FF;
}

.starter-template {
  padding: 3rem 1.5rem;
}

.container  {
  margin-top: 30px;
}

.bold {
  font-weight: bold;
}

.small-image {
  max-height:30px;
}

.right {
  text-align: right;
}

.center {
  text-align:center;
}
