body {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
  /*color: #f5f6f7;*/
}

p {
  font-size: 16px;
}

a {
  color: #00B7FF;
}

.container {
  padding-top:60px;
}

.container-fluid {
  background-color: #939393;
  border-radius: 20px;
}

.bold {
  font-weight: bold;
}

.small-image {
  max-height: 30px;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.margin {
  margin-bottom: 45px;
}

#portfolio .row{
  margin:50px /* margin around the "whole row" not inbetween "stacked rows" */
}

#portfolio .img-thumbnail{
  border:150px;
  border-radius:4px; /* slight round in images in gallery */
  margin:0px;
  padding:0px;

}
