<div class="container-fluid bg-2 text-center">
<h2>{{department.name}} Department</h2>
<div class="row text-center">
  <div class="col-md-3" ng-repeat="product in products">
    <div class="thumbnail">
      <a ui-sref="product({ id: product.id })">
        <img src="http://placehold.it/200x200" alt="Lights" style="width:100%">
        <div class="caption">
          <p><strong>{{product.name}}</strong></p>
          <p>{{product.description}}</p>
          <p>{{product.price}}</p>
        </div>
      </a>
      <div class="">
        <button class="btn" ng-click="addToCart(product.id)">Add To Cart</button>
      </div>
    </div>
  </div>
</div>
</div>
