<div class="container-fluid bg-2 text-center" id="portfolio">
  <h3>Departments</h3>

  <div class="row text-center">

    <div class="col-lg-2 col-sm-3 col-xs-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="#" ui-sref="department/1">
              <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
         		</a>
        </div>
        <div class="panel-footer">
          Produce
        </div>

      </div>
    </div>


    <div class="col-lg-2 col-sm-3 col-xs-4">

      <div class="panel panel-default">
        <div class="panel-body">
          <a href="#" ui-sref="department/2">
              <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
          	</a>
        </div>
        <div class="panel-footer">
          Dairy
        </div>
      </div>
    </div>


    <div class="col-lg-2 col-sm-3 col-xs-4">

      <div class="panel panel-default">
        <div class="panel-body">
          <a href="#">
              <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
          	</a>
        </div>
        <div class="panel-footer">
          Meat
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-sm-3 col-xs-4">

      <div class="panel panel-default">
        <div class="panel-body">
          <a href="#">
              <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
          	</a>
        </div>
        <div class="panel-footer">
          Deli
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-sm-3 col-xs-4">

      <div class="panel panel-default">
        <div class="panel-body">
          <a href="#">
              <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
          	</a>
        </div>
        <div class="panel-footer">
          This is text
        </div>
      </div>
    </div>


    <div class="col-lg-2 col-sm-3 col-xs-4">

      <div class="panel panel-default">
        <div class="panel-body">
          <a href="#">
                <img src="http://placehold.it/200x200/cc9" class="img-thumbnail img-responsive">
          	</a>
        </div>
        <div class="panel-footer">
          This is text
        </div>
      </div>
    </div>

    <!--lg helper-->
    <div class="clearfix col-lg-12 visible-lg"></div>

    <div class="col-lg-2 col-sm-3 col-xs-4">

      <div class="panel panel-default">
        <div class="panel-body">
          <a href="#">
              <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
          	</a>
        </div>
        <div class="panel-footer">
          This is text
        </div>
      </div>
    </div>


    <div class="col-lg-2 col-sm-3 col-xs-4">

      <div class="panel panel-default">
        <div class="panel-body">
          <a href="#">
              <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
          	</a>
        </div>
        <div class="panel-footer">
          This is text
        </div>
      </div>
    </div>



    <div class="col-lg-2 col-sm-3 col-xs-4">

      <div class="panel panel-default">
        <div class="panel-body">
          <a href="#">
              <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
          	</a>
        </div>
        <div class="panel-footer">
          This is text
        </div>
      </div>
    </div>



    <div class="col-lg-2 col-sm-3 col-xs-4">

      <div class="panel panel-default">
        <div class="panel-body">
          <a href="#">
              <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
          	</a>
        </div>
        <div class="panel-footer">
          This is text
        </div>
      </div>
    </div>


    <div class="col-lg-2 col-sm-3 col-xs-4">

      <div class="panel panel-default">
        <div class="panel-body">
          <a href="#">
              <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
          	</a>
        </div>
        <div class="panel-footer">
          This is text
        </div>
      </div>
    </div>


    <div class="col-lg-2 col-sm-3 col-xs-4">

      <div class="panel panel-default">
        <div class="panel-body">
          <a href="#">
              <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
          	</a>
        </div>
        <div class="panel-footer">
          This is text
        </div>
      </div>
    </div>

  </div>

<div class="">
  <ul class="pagination">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ul>
</div>
</div>
