<section id="orderhistory">
<div class="container container-fluid">
<h2 class="pagetitle">Order History</h2>

<div class="list-group">
  <a href="#" class="list-group-item"><!-- active-->
    <div class="list-group-item-text">
      <div class="row">
        <div class="col-md-2">
          2017-11-23
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-2">
              <img src="images/empty-product-large.png" alt="" class="small-image">
            </div>
            <div class="col-md-2">
              <img src="images/empty-product-large.png" alt="" class="small-image">
            </div>
            <div class="col-md-2">
              <img src="images/empty-product-large.png" alt="" class="small-image">
            </div>
          </div>
        </div>
        <div class="col-md-2" style="text-align:right;">
          $2341.23
        </div>
      </div>
    </div>
  </a>

</div>

<div class="">
  <ul class="pagination">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ul>
</div>
</div>


</section>
