<h2>Order History</h2>
<ul class="list-group">
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-4">
        2017-11-22
        <div class="">
          $123.12
        </div>
      </div>
      <div class="col-md-8 row">
          <div class="col-md-2">
            <img src="images/empty-product-large.png" alt="Empty Product" class="image-responsive small-image">
          </div>
          <div class="col-md-2">
            <img src="images/empty-product-large.png" alt="Empty Product" class="image-responsive small-image">
          </div>
          <div class="col-md-2">
            <img src="images/empty-product-large.png" alt="Empty Product" class="image-responsive small-image">
          </div>
          <div class="col-md-2">
            <img src="images/empty-product-large.png" alt="Empty Product" class="image-responsive small-image">
          </div>
          <div class="col-md-2">
            <img src="images/empty-product-large.png" alt="Empty Product" class="image-responsive small-image">
          </div>
          <div class="col-md-2">
            <img src="images/empty-product-large.png" alt="Empty Product" class="image-responsive small-image">
          </div>
      </div>
      <div class="col-md-2">
        <button type="button" name="button" class="btn">View</button>
      </div>
    </div>
  </li>
</ul>
