<div class="container-fluid bg-4 text-center">
<h2>Profile</h2>

<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-md-2" for="FirstName">First Name</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="FirstName" value="John" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" for="LastName">Last Name</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="LastName" value="Doe" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" for="Address">Address</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="Address" value="123 Elm" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" for="City">City</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="City" value="Detroit" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" for="State">State</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="State" value="MI" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" for="Zip">Zip Code</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="Zip" value="23412" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" for="Email">Email</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="Email" value="john@mail.com" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" for="Password">Password</label>
    <div class="col-md-10">
      <input type="password" class="form-control" id="Password" value="" disabled>
    </div>
  </div>
  <div class="form-group">
    <button type="button" id="EditBtn" class="btn btn-primary">Edit Profile</button>
    <button type="button" id="SaveBtn" class="btn btn-primary">Save</button>
    <button type="button" id="CancelBtn" class="btn">Cancel</button>
  </div>
</form>
</div>
