<div class="container-fluid bg-2 text-center">
  <h3>Departments</h3>
  <div class="row text-center">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="images/empty-product-large.png" alt="Paris">
      <p><strong>Paris</strong></p>
      <p>Fri. 27 November 2015</p>
      <button class="btn">Add To Cart</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="images/empty-product-large.png" alt="New York">
      <p><strong>New York</strong></p>
      <p>Sat. 28 November 2015</p>
      <button class="btn">Add To Cart</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="images/empty-product-large.png" alt="San Francisco">
      <p><strong>San Francisco</strong></p>
      <p>Sun. 29 November 2015</p>
      <button class="btn">Add To Cart</button>
    </div>
  </div>
</div>

  <div class="">
    <ul class="pagination">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
    </ul>
  </div>
</div>
