<section id="shoppinglists">
<div class="container container-fluid">
<h2 class="pagetitle">Shopping Lists</h2>

<div class="list-group">
  <a href="#" class="list-group-item"><!-- active-->
    <span class="badge">3</span>
    <h4 class="list-group-item-heading">First List Group Item Heading</h4>
    <div class="list-group-item-text">
      <div class="row">
        <div class="col-md-2">
          <img src="images/empty-product-large.png" alt="" class="small-image">
        </div>
        <div class="col-md-2">
          <img src="images/empty-product-large.png" alt="" class="small-image">
        </div>
        <div class="col-md-2">
          <img src="images/empty-product-large.png" alt="" class="small-image">
        </div>
        <div class="col-md-2">
          <img src="images/empty-product-large.png" alt="" class="small-image">
        </div>
        <div class="col-md-2">
          <img src="images/empty-product-large.png" alt="" class="small-image">
        </div>
        <div class="col-md-2">
          <img src="images/empty-product-large.png" alt="" class="small-image">
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-default">Edit</button>
        <button type="button" class="btn btn-default">Remove</button>
      </div>
    </div>
  </a>
  <div class="list-group-item">
    <form>
      <div class="form-group row">
        <div class="col-md-2">
          <label for="Name">List Name</label>
        </div>
        <div class="col-md-8">
          <input type="text" name="Name" value="" class="form-control" >
        </div>
        <div class="col-md-2 pull-right">
          <button type="button" name="button" class="btn">Add List</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="">
  <ul class="pagination">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ul>
</div>
</div>

</section>
