<h2>Shopping Lists</h2>
<ul class="list-group">
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-10">
        <span class="bold">List Name 1</span>
      </div>
      <div class="col-md-2 pull-right">
        <button type="button" name="button" class="btn">Remove</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <img src="images/empty-product-large.png" alt="Empty Product" class="small-image">
      </div>
      <div class="col-md-1">
        <img src="images/empty-product-large.png" alt="Empty Product" class="small-image img-responsive">
      </div>
        <div class="col-md-1">
          <img src="images/empty-product-large.png" alt="Empty Product" class="small-image img-responsive">
        </div>
        <div class="col-md-1">
          <img src="images/empty-product-large.png" alt="Empty Product" class="small-image img-responsive">
        </div>
        <div class="col-md-1">
          <img src="images/empty-product-large.png" alt="Empty Product" class="small-image img-responsive">
        </div>
        <div class="col-md-1">
          <img src="images/empty-product-large.png" alt="Empty Product" class="small-image img-responsive">
        </div>
        <div class="col-md-1">
          <img src="images/empty-product-large.png" alt="Empty Product" class="small-image img-responsive">
        </div>
        <div class="col-md-1">
          <img src="images/empty-product-large.png" alt="Empty Product" class="small-image img-responsive">
        </div>
        <div class="col-md-1">
          <img src="images/empty-product-large.png" alt="Empty Product" class="small-image img-responsive">
        </div>
        <div class="col-md-1">
          <img src="images/empty-product-large.png" alt="Empty Product" class="small-image img-responsive">
        </div>
        <div class="col-md-2">
          &nbsp;
        </div>
    </div>
  </li>
  <li class="list-group-item">
    <form>
      <div class="form-group row">
        <div class="col-md-2">
          <label for="Name">List Name</label>
        </div>
        <div class="col-md-8">
          <input type="text" name="Name" value="" class="form-control" >
        </div>
        <div class="col-md-2 pull-right">
          <button type="button" name="button" class="btn">Add List</button>
        </div>
      </div>
    </form>
  </li>
</ul>
